.image-grid-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}
.screenshot-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    margin: 20px;
}
.slideImage img{
    height: auto;
    width: 100%;
    max-width: 1000px;
}