.home {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

.background-img {
    background:var(--home-bg);
    background-position-x: center;
    background-repeat: repeat;
    background-attachment: fixed;
    z-index: -2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    transition: 1s;
    overflow: hidden;
}

    .overlay {
        z-index: -1;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: 0.5s;
        align-items: center;
        justify-content: center;
       /* background: linear-gradient(to left top, rgba(103, 0, 134, 0.192), rgba(255, 246, 238, 0)); */
    }

    .page-loading-home {
        position: absolute;
        top: 45%;
    }

    .loading-content {
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .page-content {
        margin-top: 70px;
        margin-bottom: 40px;
        padding: auto;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 100%;
        font-family: Open Sans;
        transition: 1s;
        flex-direction: column;
    }

.project-header {
    align-items: center;
    justify-content: center;
    display: flex;
    max-width: 1200px;
    width: 90%;
    flex-direction: row;
    margin-top: 50px;
    background-color: var(--header-links-a-hover-bg-color);
    border-radius: 24px;
}

.project-title {
    width: 100%;
    display: flex;
}

.project-logo {
    margin-left: 10px;
    margin-right: 5px;
    margin: 20px;
    background-color: var(--project-logo-bg) ;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    width: 100px;
    min-height: 100px;
    min-width: 100px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 10px 15px -10px rgba(132, 0, 172, 0.541);
}

.project-logo img {
    position: relative;
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
    filter:drop-shadow(0 10px 5px rgba(132, 0, 172, 0.123)) ;
}

.project-name{
    margin-left: 5px;
    margin-right: auto;
    padding: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
}

.project-name-name {
    font-size: 30px;
    font-weight: bold;
    margin-right: 30px;
    color: var(--header-links-a-hover-color);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.178);
}

.project-name-discription {
    font-size: 15px;
    font-weight: normal;
    margin-right: 30px;
    color: var(--header-links-a-color);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.185);
}

.actions {
    display: flex;
    margin-right: 20px;
    padding: auto;
    margin-top: auto;
    margin-bottom: auto;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.action-buttons {
    display: flex;
    padding: auto;
    margin-top: auto;
    margin-bottom: auto;
    flex-direction: row;
    gap: 10px;
}

.action-buttons button {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    min-width: 100px;

    font-family: open Sans;
    text-align: center;
    color: var(--button-color);
    transition: 0.2s;
    box-shadow: 0px 0px 10px -5px var(--button-shadow-color);
    border: none;
    background: var(--button-background);
    border-radius: 10px;
    cursor: pointer;
    font-weight: normal;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 1s;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.action-buttons button:hover {
    box-shadow: 0px 5px 10px -5px var(--button-shadow-color);
    transition:0.2s;
    filter: invert(10%);
    color: var(--button-color-hover);
    background: var(--button-background-hover);
}

.last-updated {
    text-align: right;
    font-size: 15px;
    font-weight: 100;
    margin: auto;
    display: flex;
    color: var(--header-links-a-hover-color);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.178);

}

.kraftbin-relative-time {
    filter: invert(20%);
}

.spacer1 {
    height: 5px;
    display: flex;
}

.project-about {
    display: flex;
    flex-direction: column;
    padding: auto;
    align-items: center;    flex-direction: column;

    justify-content: center;
    display: flex;
    width: 100%;
    font-family: Open Sans;
    transition: 1s;
    flex-direction: column;
}

.pages {
    height: 100vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: auto;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-family: Open Sans;
    transition: 1s;
    margin-left: 20px;
    margin-right: 30px;
}

.section-content {
    display: flex;
    flex-direction: row;
    padding: auto;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-family: Open Sans;
    transition: 1s;
} 

.page-odd {
    background-color: var(--header-links-a-hover-bg-color);
}

.image1 {
    border-radius: 24px;
    overflow: hidden;
    height: fit-content;
    width: max-content;
    min-width: 400px;
    box-shadow:0 10px 25px -10px rgba(39, 39, 39, 0.26) ;
    display: flex;
}

.image1 img {
    width: 400px;
    display: flex;
}

.image2 {
    border-radius: 24px;
    overflow: hidden;
    height: fit-content;
    width: max-content;
    min-width: 600px;
    box-shadow:0 10px 25px -10px rgba(39, 39, 39, 0.26) ;
    display: flex;
}

.image2 img {
    width: 600px;
    height: auto;
    display: flex;
}

.info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: auto;
    max-width: 500px;
}

.title {
    display: flex;
    margin-right: 0px;
    padding-right: 0px;
    font-size: 30px;
    font-weight: bold;
    color: var(--header-links-a-hover-color);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.178);
}

.discription {
    display: flex;
    font-size: 18px;
    text-align: justify;

    font-weight: normal;
    color: var(--header-links-a-color);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.185);
}

.discription p {
    width: auto;
    max-width: 500px;
    text-wrap:wrap;
}
