.home {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    overflow: hidden;
}

.banner {
    display: flex;
    color: var(--header-links-a-hover-color);
    background-color: rgba(255, 115, 0, 0.555);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    bottom: 50px;
    right: 8px;
    margin-left: 8px;
    z-index: 10;
    backdrop-filter: blur(20px) saturate(3);
    -webkit-backdrop-filter: blur(20px) saturate(3);

    border-width: 2px;
    border-color: rgba(255, 115, 0, 0.582);
    border-style: solid;
    transition: .2s;
    border-radius: 24px;

    font-size: 14px;
    text-align: center;
    box-shadow: 0px 3px 10px -5px orangered;
}

.banner a {
    text-decoration: underline;
    color: var(--header-links-a-hover-color);
    transition: .2s;
}

.background-img {
    background:var(--home-bg);
    background-position-x: center;
    background-repeat: repeat;
    background-attachment: fixed;
    z-index: -2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    transition: .5s;
    overflow: hidden;
}

    .overlay {
        z-index: -1;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: 0.5s;
        align-items: center;
        justify-content: center;
       /* background: linear-gradient(to left top, rgba(103, 0, 134, 0.192), rgba(255, 246, 238, 0)); */
    }

    .page-loading-home {
        position: absolute;
        top: 45%;
    }

    .loading-content {
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .page-content {
        margin-top: 70px;
        margin-bottom: 40px;
        padding: auto;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 100%;
        font-family: Open Sans;
        transition: 1s;
        flex-direction: column;
    }

.project-header {
    align-items: center;
    justify-content: center;
    display: flex;
    max-width: 1200px;
    width: 90%;
    flex-direction: row;
    margin-top: 50px;
    background-color: var(--project-header-background);
    border-radius: 24px;
    box-shadow: 0 10px 25px -15px rgba(0, 0, 0, 0.13);

    border-width: 1px;
    border-color: rgba(138, 138, 138, 0.226);
    border-style: solid;
    transition: .2s;
}

.project-title {
    width: 100%;
    display: flex;
}

.project-logo {
    margin-left: 10px;
    margin-right: 5px;
    margin: 20px;
    background-color: var(--project-logo-bg) ;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    width: 100px;
    min-height: 100px;
    min-width: 100px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 10px 15px -10px rgba(132, 0, 172, 0.541);

    border-width: 1px;
    border-color: rgba(138, 138, 138, 0.226);
    border-style: solid;
}

.project-logo img {
    position: relative;
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
    filter:drop-shadow(0 10px 5px rgba(132, 0, 172, 0.123)) ;
}

.project-name{
    margin-left: 5px;
    margin-right: auto;
    padding: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
}

.project-name-name {
    font-size: 30px;
    font-weight: bold;
    margin-right: 30px;
    color: var(--header-links-a-hover-color);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.178);
}

.project-name-discription {
    font-size: 15px;
    font-weight: normal;
    margin-right: 30px;
    color: var(--header-links-a-color);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.185);
}

.actions {
    display: flex;
    margin-right: 20px;
    padding: auto;
    margin-top: auto;
    margin-bottom: auto;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.action-buttons {
    display: flex;
    padding: auto;
    margin-top: auto;
    margin-bottom: auto;
    flex-direction: row;
    gap: 10px;
}

.action-buttons button {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    min-width: 100px;

    font-family: open Sans;
    text-align: center;
    color: var(--button-color);
    transition: 0.2s;
    box-shadow: 0px 0px 10px -5px var(--button-shadow-color);
    border: none;
    background: var(--button-background);
    border-radius: 10px;
    cursor: pointer;
    font-weight: normal;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 1s;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.action-buttons button:hover {
    box-shadow: 0px 5px 10px -5px var(--button-shadow-color);
    transition:0.2s;
    filter: invert(10%);
    color: var(--button-color-hover);
    background: var(--button-background-hover);
}

.last-updated {
    text-align: right;
    font-size: 15px;
    font-weight: 100;
    margin: auto;
    display: flex;
    color: var(--header-links-a-hover-color);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.178);

}

.kraftbin-relative-time {
    filter: invert(20%);
}

.spacer1 {
    height: 5px;
    display: flex;
}

.project-about {
    display: flex;
    flex-direction: column;
    padding: auto;
    align-items: center;    flex-direction: column;

    justify-content: center;
    display: flex;
    width: 100%;
    font-family: Open Sans;
    transition: 1s;
    flex-direction: column;
}

.pages {
    height: 100vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: auto;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-family: Open Sans;
    transition: 1s;
    margin-left: 20px;
    margin-right: 30px;
}

.section-content {
    display: flex;
    flex-direction: row;
    padding: auto;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-family: Open Sans;
    transition: 1s;
} 

.page-odd {
    background-color: var(--bg-bg);
}

.image1 {
    border-radius: 24px;
    overflow: hidden;
    height: fit-content;
    width: max-content;
    min-width: 400px;
    box-shadow: 0 10px 25px -15px rgba(0, 0, 0, 0.329);
    display: flex;

    border-width: 1px;
    border-color: rgba(138, 138, 138, 0.226);
    border-style: solid;
}

.image1 img {
    width: 400px;
    display: flex;
}

.image2 {
    border-radius: 24px;
    overflow: hidden;
    height: fit-content;
    width: max-content;
    min-width: 600px;
    box-shadow: 0 10px 25px -15px rgba(0, 0, 0, 0.329);
    display: flex;

    border-width: 1px;
    border-color: rgba(138, 138, 138, 0.226);
    border-style: solid;
}

.image2 img {
    width: 600px;
    height: auto;
    display: flex;
}

.info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: auto;
    max-width: 500px;
}

.title {
    display: flex;
    margin-right: 0px;
    padding-right: 0px;
    font-size: 30px;
    font-weight: bold;
    color: var(--header-links-a-hover-color);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.178);
}

.discription {
    display: flex;
    font-size: 18px;
    text-align: justify;

    font-weight: normal;
    color: var(--header-links-a-color);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.185);
}

.discription p {
    width: auto;
    max-width: 500px;
    text-wrap:wrap;
}

.cleaner {
    flex-direction: column;
    background-color: var(--header-links-a-hover-bg-color);
    display: flex;
    max-width: 700px;
    height: 500px;
}

.cleaner-image-header {
    display: flex;
    width: 100%;
    background-color: var(--kraftbin-post-color);
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

    border-width: 0px 0px 1px 0px;
    border-color: rgba(138, 138, 138, 0.226);
    border-style: solid;
}

img.cleaner-image-header-logo {
    height: 15px;
    width: 15px;
    margin-left: 0px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
}

.cleaner-image-header h4{
    margin-left: 0px;
    margin-right: 5px;
    display: flex;
    text-align: left;
    font-size: 10px;
    color: var(--header-links-a-hover-color);
}

.cleaner-image-header p {
    margin-left: 0px;
    margin-right: auto;
    display: flex;
    text-align: left;
    font-size: 8px;
    color: var(--header-links-a-hover-color);
}

.cleaner-image-header-user-logo {
    height: 15px;
    width: 15px;
    margin-left: 0px;
    margin-right: 5px;
    display: flex;
    border-radius: 50%;
    background-color: rgb(183, 43, 226);
}

p.cleaner-image-header-username {
    margin-right: 40px;
    display: flex;
}

.cleaner-image-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 5px;
    margin-left: 30px;
    margin-right: 30px;
    gap: 5px;
}

.cleaner-image-sidebars {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    gap: 5px;
}

.cleaner-image-posts{
    display:flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    gap: 5px;
}

.cleaner-image-post, .cleaner-image-sidebar {
    background-color: var(--kraftbin-post-color);
    border-radius: 10px;
    display: flex;
    box-shadow: 0 10px 10px -10px rgba(88, 88, 88, 0.219);


    border-width: 1px;
    border-color: rgba(138, 138, 138, 0.226);
    border-style: solid;
}

.cleaner-image-sidebar {
    height: 33%;
}

.cleaner-image-post {
    height: 50%;
}

/*-----tc-grid-----*/
.tc-grid {
    flex-direction: column;
    background-color: var(--bg-bg);
    display: flex;
    max-width: 700px;
    height: 500px;
    position: relative;
}

.tc-grid-header {
    display: flex;
    width: 100%;
    background-color: var(--project-logo-bg);
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(20px) saturate(3);
    -webkit-backdrop-filter: blur(20px) saturate(3);
    top: 0;
    left: 0;

    border-width: 0px 0px 1px 0px;
    border-color: rgba(138, 138, 138, 0.226);
    border-style: solid;
}

img.tc-grid-header-image {
    height: 25px;
    width: 25px;
    margin-left: 0px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
}

.tc-grid-header h4{
    margin-left: 0px;
    margin-right: 5px;
    display: flex;
    text-align: left;
    font-size: 15px;
    color: var(--header-links-a-hover-color);
}

.tc-grid-header p {
    margin-left: 0px;
    margin-right: auto;
    display: flex;
    text-align: left;
    font-size: 13px;
    color: var(--header-links-a-hover-color);
}

.tc-grid-header-right-image {
    height: 15px;
    width: 15px;
    margin-left: 0px;
    margin-right: 5px;
    display: flex;
    border-radius: 50%;
    background-color: rgb(211, 43, 226);
}

p.tc-grid-header-right-title {
    margin-right: 40px;
    display: flex;
}

.tc-grid-header-right-title a {
    text-decoration: none;
    color: var(--header-links-a-color);
    transition: .2s;
}

.tc-grid-header-right-title a:hover {
    color: var(--header-links-a-hover-color);
}

.tc-grid-container {
    padding-top: 45px;
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: 300px 100px;
    height: 505px;
    gap: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.tc-grid-grid-2 {
    display: grid;
    flex-direction: column;
    width: 25%;
    height: min-content;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.tc-grid-grid-1{
    display:grid;
    flex-direction: column;
    width: 75%;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.tc-grid-grid-1-item, .tc-grid-grid-2-item {
    display: flex;
    height: 34px;
    align-items: center;
}

/*-----Customozable-----*/

.customizable .tc-grid-grid-1-item {
    color: var(--header-links-a-hover-color);
    height: 34px;
    justify-content: left;
}

.customizable .tc-grid-grid-2-item {
    display: flex;
    align-items: center;
    justify-content: right;
}

.customizable .tc-grid-container {
    padding-left: 20px;
    padding-right: 10px;
}

.tc-grid-container input {
    width: 100px;
    margin-right: 8px;
}

/*------Post------*/
.familiar {
    flex-direction: row;
    background-color: var(--header-links-a-hover-bg-color);
    display: flex;
    width: 650px;
    height: 500px;
    position: relative;
    font-family: Open Sans;
}

.vote {
    display: flex;
    width: 90px;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    gap: 10px;
    padding: auto;
    margin-left: -3px;
}

.vote-up {
    display: flex;
    flex-direction: row;
    position: relative;
    color: var(--header-links-a-color);
    border-radius: 30px;
    transition: 0.2s;
} 

.vote-up input {
    height: 25px;
    width: 64px;
    display: flex;
    opacity: 0;
}

.vote-up span {
    position: absolute;
    background-color: var(--kraftbin-post-color);
    text-align: center;
    pointer-events: none;
    height: 25px;
    width: 65px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    font-size: 15px;

    border-width: 1px;
    border-color: rgba(138, 138, 138, 0.226);
    border-style: solid;
    border-radius: 30px;

    transition: .2s;
}

.vote-up:hover {
    color: var(--header-links-a-hover-color);
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.226);
}

.vote-up-check-text iconify-icon {
    display: flex;
    scale: 90%;
    margin-top: -1px;
}

.vote-up-check-input:checked ~ .vote-up-check-text {
    color: var(--home-projects-project-name-color);
  }
  
/*-------Vote Down------*/

.vote-down {
    display: flex;
    flex-direction: row;
    position: relative;
    color: var(--header-links-a-color);
    border-radius: 30px;
    transition: 0.2s;
} 

.vote-down input {
    height: 25px;
    width: 64px;
    display: flex;
    opacity: 0;
}

.vote-down span {
    position: absolute;
    background-color: var(--kraftbin-post-color);
    text-align: center;
    pointer-events: none;
    height: 25px;
    width: 65px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    font-size: 15px;

    border-width: 1px;
    border-color: rgba(138, 138, 138, 0.226);
    border-style: solid;
    border-radius: 30px;

    transition: .2s;
}

.vote-down:hover {
    color: var(--header-links-a-hover-color);
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.226);
}

.vote-down-check-text iconify-icon {
    display: flex;
    scale: 90%;
    margin-top: -1px;
}

.vote-down-check-input:checked ~ .vote-down-check-text {
    color: var(--home-about-p-a-color);
  }

  /*-------Vote Buttons-------*/
  .vote-up-check-text:before {
    content: '419';
    display: flex;
  }
  
  .vote-up-check-input:checked ~ .vote-up-check-text:before {
    content: '420';
  }

  .vote-down-check-text:before {
    content: '68';
    display: flex;
  }
  
  .vote-down-check-input:checked ~ .vote-down-check-text:before {
    content: '69';
  }


.post {
    display: flex;
    flex-direction: column;
    background-color: var(--kraftbin-post-color);
    width: 87%;
    padding: 15px;
    justify-content: space-between;
    transition: .2s;
}

.post-title {
    margin-bottom: 5px;
    flex-direction: row;
    width: 100%;
    transition: .2s;
}

.post-title p {
    display: flex;
    transition: .2s;
}

.post-title span {
    display: flex;
    width: auto;
    font-size: 20px;
    color: var(--header-links-a-color);
    transition: .2s;
}

.post-title a {
    display: flex;
    width: auto;
    font-size: 10px;
    margin: 5px;
    margin-top: 8px;
    color: var(--header-links-a-color);
    transition: .2s;
}

.post-title span:hover, .post-title a:hover {
    color: var(--header-links-a-hover-color);
}

.post-image {
    border-radius: 20px;
    align-self: center;
    overflow: hidden;
}

.post-image img {
    height: 350px;
    width: auto;
    transition: .2s ease-out;
}

.post-image img:hover {
    scale: 1.015;
}

.post-text {
    font-size: 15px;
    color: var(--header-links-a-hover-color);
    text-align: justify;
}

.post-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.post-footer-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    color: var(--header-links-a-color);
    transition: 0.2s;
}

.post-footer-details b {
    color: var(--header-links-a-color);
    transition: 0.2s;
}

.post-footer-details b:hover {
    color: var(--header-links-a-hover-color);
}

.space, .post-date {
    margin-left: 4px;
}

.post-footer-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    color: var(--header-links-a-color);
    transition: 0.2s;
    gap: 10px;
}

.post-footer-menu span {
    color: var(--header-links-a-color);
    transition: 0.2s;
}

.post-footer-menu span:hover {
    color: var(--header-links-a-hover-color);
}


/*------------------------*/
/* toggle from w3schools */

.kraftbin-slider:hover{
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.13);
  }
  
   /* The switch - the box around the slider */
   .kraftbin-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    scale: 0.7;
    transition: 1s;
  }
  
  /* Hide default HTML checkbox */
  .kraftbin-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .kraftbin-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.212);
    -webkit-transition: .4s;
    transition: .4s;
    border: Solid 1px rgba(138, 138, 138, 0.226);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.13);
  }
  
  .kraftbin-slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border: Solid 1px rgba(138, 138, 138, 0.226);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .kraftbin-slider {
    background-color: var(--kraftbin-toggle-color);
  }
  
  /*
  input:focus + .slider {
  } */
  
  input:checked + .kraftbin-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .kraftbin-slider.kraftbin-round {
    border-radius: 34px;
    display: flex;
  }
  
  .kraftbin-slider.kraftbin-round:before {
    border-radius: 50%;
  }

  /*-----Selector-----*/
  select.kraftbin-select{
    display: flex;
    text-align: center;
    color: var(--header-links-a-color); 
    background-color: var(--header-links-a-hover-bg-color);
    padding: 3px 6px;
    width: auto;
    border: Solid 2px rgba(138, 138, 138, 0.226);
    border-radius: 5px; 
    font-size: 13px; 
    appearance:none; 
    transition: 0.2s;
    cursor:pointer;
    height: min-content;
    margin: auto;
    margin-right: 9px;
}

select.kraftbin-select:hover{
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.226);
    border: Solid 2px rgb(0, 162, 255);
}

select.kraftbin-select:focus{
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.226);
    border: Solid 2px rgb(0, 162, 255);
}