.home {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    overflow: hidden;
}

.background-img {
    background:var(--home-bg);
    background-position-x: center;
    background-repeat: repeat;
    background-attachment: fixed;
    z-index: -2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    transition: .5s;
    overflow: hidden;
}

    .overlay {
        z-index: -1;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: 0.5s;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to left top, rgba(68, 0, 82, 0.164), rgba(238, 238, 255, 0)); 
    }

    .loading-content {
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .page-content {
        margin-top: 20px;
        margin-bottom: 40px;
        padding: auto;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 100%;
        height: 100%;
        font-family: Open Sans;
        transition: 1s;
        flex-direction: column;
        position: relative;
    }

    .page-content * {
        font-family: Open Sans;
        transition: .2s;
    }

    .projects-page {
        display: flex;
        padding: auto;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 100%;
        height: 100%;
        font-family: Open Sans;
        transition: 1s;
        flex-direction: column;
        position: relative;
    }

    .projects-page h1, .projects-page h2, .projects-page h3, .projects-page h4, .projects-page h5, .projects-page h6 {
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.178);
    }
    
    .projects-page p, .projects-page a, .projects-page span, .projects-page li, .projects-page u, .projects-page i {
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.185);
    }


    .projects-page a {
        color: var(--header-links-a-color);
        text-decoration: none;
    }

    .projects-page a:hover {
        color: var(--header-links-a-hover-color);
    }

    .section {
        display: flex;
        flex-direction: column;
        min-height: 97vh;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .page-title {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 0px;
    }

    .title {
        align-items: center;
        justify-content: center;
        text-align: center;
        color: var(--header-links-a-hover-color);
    }

    .description {
        color: var(--header-links-a-color);
    }

    .title span {
        align-items: center;
        justify-content: center;
        text-align: center;
        }

    .my-projects {
        margin-bottom: 20px;
        align-self: center;
        justify-content: center;
        width: fit-content;
        margin: auto;
        margin: 30px;
        gap: 10px;
        max-width: 1200px;
        position: relative;

        column-gap: 10px;
        break-inside: avoid;

    }


    .projects-grid1 {
        columns: 1;
    }
    
    .projects-grid2 {
        columns: 3;
    }

    .project-outline {
        margin-bottom: 10px;
    }

    .project {
        background-color: var(--bg-bg);
        display: flex;
        flex-direction: column;
        height: max-content;
        width: 300px;
        height: fit-content;

        border-radius: 24px;
        box-shadow: 0 8px 25px -10px rgba(0, 0, 0, 0.13);
    
        border-width: 1px;
        border-color: rgba(138, 138, 138, 0.226);
        border-style: solid;
        transition: .2s;
        position: relative;
        overflow: hidden;

        cursor: pointer;

        justify-self: center;

        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;
    }

    .project:hover {
        box-shadow: 0 8px 25px -8px rgba(0, 0, 0, 0.404);
    }

    .project-outline {
        border-color: transparent;
        border-width: 2px;
        border-style: solid;
        display: flex;
        width: 302px;
        height: fit-content;
        border-radius: 26px;
    }

    .project-outline:hover {
        border-color: rgb(0, 162, 255);
    }

    .project * {
        display: flex;
    }

    .ambient {
        position: absolute;
        z-index: -1;
        opacity: .25;
        filter: blur(20px) saturate(10);
        height: 100%;
        width: auto;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .project-image {
        height: 150px;
        min-height: 150px;
        width: 100%;
        overflow: hidden;
        position: relative;
        background-color: var(--kraftbin-post-color);
    }

    .project-image img {
        width: 100%;
        position: absolute;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .project-badges {
        position: absolute;
        bottom: 10px;
        left: 10px;
        flex-direction: row;
        gap: 5px;
    }

    .project-badges div{
        padding-bottom: 5px;
        padding-top: 5px;
        font-size: 13px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 10px;
        color: white;
        background-color: rgb(0, 140, 255);
        box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.397);
    }

    .project-details {
        flex-direction: column;
        height: auto;
        padding: 0px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        position: relative;
        margin-top: 0;
        margin-bottom: auto;
    }

    .project-name {
        color: var(--header-links-a-hover-color);
    }
    
    .project-description {
        font-size: 14px;
        margin-bottom: 10px;
        color: var(--header-links-a-color);
    }

    .project-about {
        font-size: 16.5px;
        margin-bottom: 5px;
        text-align: justify;
        color: var(--header-links-a-color);
        overflow: auto;
    }

    .tall {
        height: 150px;
    }

    div.badge-popular::after {
        content: 'Popular';
    }

    div.badge-userstyle::after  {
        content: 'Userstyle';
    }

    div.badge-collection::after  {
        content: 'Collection';
    }

    div.badge-unfinished::after  {
        content: 'Unfinished';
    }

    div.badge-thenuk::after  {
        content: 'Thenuk';
    }


    div.badge-popular {
        background-color: rgb(183, 0, 255);
    }

    div.badge-userstyle  {
        background-color: rgb(0, 140, 255);
    }

    div.badge-collection  {
        background-color: rgb(4, 126, 0);
    }

    div.badge-unfinished  {
        background-color: rgb(255, 72, 0);
    }

    div.badge-thenuk  {
        background-color: rgb(238, 255, 0);
        color: black;
    }

    div.badge-website  {
        background-color: rgb(255, 0, 157);
    }

    div.badge-website::after  {
        content: 'Website';
    }

    div.badge-illustrations  {
        background-color: rgb(195, 0, 255);
    }

    div.badge-illustrations::after  {
        content: 'Illustrations';
    }


    @media screen and (max-width: 1000px) {
        .projects-grid2 {
            columns: 2;
        }
    }

    @media screen and (max-width: 680px) {
        .projects-grid2 {
            columns: 1;
        }
    }