.emoji-page {
    display: grid;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
    background-color: var(--home-about-bg);
    border-radius: 24px;
    border: Solid 1px rgba(138, 138, 138, 0.226);
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.116);
    padding: 10px;
    transition: 1s;
}

.emoji-page h1 {
    color: var(--home-about-p-a-color);
    font-family: Open Sans;
    font-weight: bolder;
    transition: 1s;
}

.emoji-page h2, .emoji-page h4 {
    color: var(--home-about-span-color);
    font-family: Open Sans;
    font-weight: bold;
    transition: 1s;
}

.emoji {
    font-size: 100px;
    font-family: Noto Color Emoji;
    transition: 1s;
}



@media screen and (max-width: 520px) {
    .emoji-page h1 {

        font-size: 23px;
    }
    
    .emoji-page h2{
        font-size: 18px;
    }

    .emoji-page h4 {
        font-size: 13px;
    }
}