.home {
    transition: .5s;
}

.bg {
    z-index: -2;
    background-color: var(--bg-bg);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    animation: bg-blur-animation 2s ease;
    object-fit: contain;
    overflow: hidden;
    width: 120vw;
    height: 500vh;
    margin-left: -2vw;

    scale: 1.05;

    transition: .5s;
}

.background-img {
    content: var(--bg-image);
    width: 120vw;
    margin-left: -5vw;
    grid-area: image;
    margin-bottom: -3vh;
    margin-top: -3vh;
    object-fit: contain;

    transition: .5s;
}


@media screen and (max-width: 750px) {
    .background-img {
        background-size:150vw;
    }
}

@media screen and (max-width: 500px) {
    .background-img {
        background-size:250vw;
    }
}


@keyframes bg-blur-animation {
    0% {opacity: 0; filter: blur(10px); scale:1.1;}
    50% {opacity: 0; filter: blur(10px); scale:1.1;}
    100% {opacity: 1; filter: blur(0px);;}
}

.page-stuff {
    display: flex;
    height: 100vh;
}

.overlay {
    z-index: -1;
    background-color: var(--bg-bg);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.5s;
    align-items: center;
    justify-content: center;
    backdrop-filter: invert(var(--bg-backdrop-filter));

    height: 500vh;
    scale: 1.1;
}

.bg-container {
    overflow: hidden;
    width: 110vw;
    height: 226vh;
    margin-left:-5vw;
    margin-top: -5vh;
}