.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
    overflow: hidden;
}

.background-img {
    background: var(--bg-image);
    background-size:110vw;
    background-position: center;
    background-repeat: repeat;
    z-index: -3;
    background-color: var(--bg-bg);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    animation: bg-blur-animation 2s ease;
    overflow: hidden;
}

@media screen and (max-width: 750px) {
    .background-img {
        background-size:150vw;
    }
}

@media screen and (max-width: 500px) {
    .background-img {
        background-size:250vw;
    }
}


@keyframes bg-blur-animation {
    0% {opacity: 0; filter: blur(10px); transform: scale(1.08);}
    50% {opacity: 0; filter: blur(10px); transform: scale(1.08);}
    100% {opacity: 1; filter: blur(0px); transform: scale(1);}
}

.page-stuff {
    display: flex;
    height: 100vh;
}

.overlay {
    z-index: -2;
    background-color: var(--bg-bg);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.5s;
    align-items: center;
    justify-content: center;
    backdrop-filter: invert(var(--bg-backdrop-filter));
}