/* Footer */

.footer {
    background-color: var(--footer-bg);
    backdrop-filter: blur(20px) saturate(3);
    -webkit-backdrop-filter: blur(20px) saturate(3);
    width: 100%;
    min-height: 40px;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    box-shadow: 0px -8px 12px 0px rgba(0, 0, 0, 0.048);
    transition: .5s;
    text-align: center;
    z-index: 99;

    border-width: 1px 0px 0px 0px;
    border-color: rgba(138, 138, 138, 0.226);
    border-style: solid;
}

.footer a {
    text-decoration: none;
    color: var(--footer-a);
    font-size: 20px;
    transition: .2s;
}

.social-links {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    column-gap: 15px;
    padding: 7px 0;
}

.social-links iconify-icon{
    transition: 0.2s;
}

.social-links iconify-icon:hover, .email a:hover {
    color: var(--footer-social-links-i-hover);
}

.email {
    margin-left: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.email a {
    text-decoration: none;
    color: var(--footer-a);
    font-family: Work Sans;
    font-size: 15px;
    transition: 0.2s;
}

.copyright {
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    transition: 1s;
    cursor: help;
    padding-left: 20px;
    transition: 1s;
}

.copyright p {
    font-family: Work Sans;
    font-size: 19px;
    color: var(--footer-copyright-p);
    cursor: help;
    transition: 0.5s;
}

.copyright a {
    font-family: Work Sans;
    font-size: 19px;
    text-decoration: underline;
    transition: 0.5s;
}


#site-info {
    position: fixed;
    align-items: center;
    justify-content: center;
    left: 50%;
    width: 100%;
    height: 20px;
    transform: translateX(-50%);
    background-color: var(--footer-site-info-color-bg);
    color: var(--footer-site-info-color);
    padding: 10px;
    font-family: Open Sans;
    font-size: 15px;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
 }           
  
  .hidden {
    opacity: 0;
    pointer-events: none;
    transition: .3s;
    display: block;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .show {
    opacity: 1;
    transition: .3s;
    display: block;
  }

.show a, .hidden a, .hidden span, .show span {
    font-size: 16px;
    font-family: Open Sans;
    transition: .2s;
}

.show a, .hidden a {
    text-decoration: underline;
}

.show a:hover, .hidden a:hover {
    color: var(--header-a-hover);
}

 span.time-passed-boom {
    filter:invert(30%);

}

.show a, .show span{
    font-size: 15px;
}

.show span {
    color: var(--footer-show-span);
}

@media screen and (max-width: 770px){

}

@media screen and (max-width: 790px) {

    .copyright a, .copyright p{
        font-size: 15px;
    }

    .social-links{
        column-gap: 10px;
    }

    .social-links i{
        font-size: 18px;
    }

}

@media screen and (max-width: 705px) {
    .footer {
        flex-direction: column;
        min-height: 28px;
    }
    .copyright {
        margin-right: auto;
        margin-top: 10px;
        padding-left: 0px;
    }
    .footer .social-links, .footer .eml {
        display: none;
    }
    .copyright a, .copyright p{
        font-size: 15px;
    }
    .copyright {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .copyright p{
        cursor:default;
    }

    .links {
        display: none;
    }

    .box2 {
        display: none;
    }

    .show {
        display: none;
    }
    
}

@media screen and (min-width: 705px) {
    #mobile-menu-part {
      display: none !important;
    }
  }

@keyframes opacy {
    0% {transform:rotate(-90deg); opacity: 0;}
    100% {transform: translateY(0deg); opacity: 1;}
}

.ham {
    display: none;
    flex-direction: column;
    row-gap: 4px;
    cursor: pointer;
}

.ham div {
    height: 2px;
    width: 18px;
    background-color: rgb(0, 0, 0);
}

@media screen and (max-width: 705px) {
    .ham {
        display: flex;
        padding-right: 0px;
        padding-left: auto;
    }

    .tooltiptext-footer {
        display: none;
    }

    .normal-color-chooser {
        display: none;
    }

    .box3 {
        height: 20px;
        width: 20px;
    }
}


/* footer-tooltips */

/* Tooltip container */
.tooltip-footer {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip-footer .tooltiptext-footer {
    visibility: hidden;
    width: 100px;
    bottom: 120%;
    left: 50%;
    margin-left: -45px;
    margin-bottom: 5px;
    background-color: var(--footer-tooltip-footer-bg);
    color: var(--footer-tooltip-footer-color);
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.116);
    text-align: center;
    padding: 5px 0;
    border-radius: 10px;
    font-size: 15px;
    font-family: Work Sans;

    border-width: 1px;
    border: Solid 1px rgba(138, 138, 138, 0.226);
    border-style: solid;
   
    position: absolute;
    z-index: 1;
    
    opacity: 0;
    transition: 0.2s;
  }
  
  .tooltip-footer:hover .tooltiptext-footer {
    visibility: visible;
    opacity: 1;
    margin-bottom: 10px;
} 

.tooltip-footer span {
    pointer-events: none;
}