.menu-hidden {
    display: block !important;
    visibility: hidden;
    transition: 1s cubic-bezier(.77,0,.18,1);
    height: 0px !important;

    .mobile-menu {
        opacity: 0;
        transition: .8s;
    }

    pointer-events: none;
}

.menu-show {
    display: block !important;
    transition: 1s cubic-bezier(.77,0,.18,1);
    visibility: visible;
    max-height: auto;

    .mobile-menu {
        opacity: 1;
        transition: .8s .3s;
    }
}

#mobile-menu-part {
    display: flex;
    align-self:stretch;
    justify-self:stretch;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    overflow: hidden;
    font-family: Work Sans;
    text-align: center;
    transition: 1s cubic-bezier(.77,0,.18,1);
}

.mobile-menu {
    display: flex;
    align-self:stretch;
    justify-self:stretch;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    overflow: auto;
    font-family: Work Sans;
    text-align: center;
  }

  .mobile-menu-content {
    margin-top: -170px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .mobile-menu-stuff {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .mobile-links {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    gap: 25px;
    align-items:center;
    justify-content:center;
    font-family: Work Sans;
    font-size: large;
    animation: up-down-fall 1s forwards;
}

.mobile-menu-stuff .colorizer-tooltip{
    display: flex !important;
    position: absolute;
    top: 70px;
    right: 0px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    padding-right: 15px;
    border-radius: 10px 0 0 10px;
    background-color: var(--header-links-a-hover-bg-color);

    border-width: 1px;
    border-color: rgba(138, 138, 138, 0.226);
    border-style: solid;

}

.mobile-menu-stuff .theme-select {
    background-color: var(--footer-tooltip-footer-bg);
}

.mobile-menu-stuff .color-chooser-container {
    margin-left: 0px !important;
    color: var(--header-links-a-hover-color) !important;
    opacity: 60%;
}

.mobile-menu-stuff .color-chooser-container span {
    color: var(--header-links-a-hover-color) !important;
}

.mobile-menu-stuff .theme-select {
    color: var(--header-links-a-hover-color) !important;
}


.mobile-links{
    display: flex !important;
    position: relative;
    align-items: center;
    justify-content: center;
}


.mobile-menu .menu-footer {
    width: 100%;
    position: fixed;
    bottom: 56px;
    display: flex;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 430px) {
    .mobile-menu .menu-footer {
        bottom: 52px;
    }
}


.mobile-menu .footer a {
    text-decoration: none;
    color: var(--footer-a);
    font-size: 20px;
}

.mobile-menu .social-links {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    column-gap: 15px;
    padding: 10px 0;
    animation: down-up .5s forwards;
}

.mobile-menu .social-links i {
    transition: 1s;
}

.mobile-menu .social-links i:hover, .email a:hover {
    color: var(--footer-social-links-i-hover);
    transition: 0.2s;
}

.mobile-menu .email {
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 5px;
    animation: down-up 0.5s forwards;
}

.mobile-menu .email a {
    text-decoration: none;
    color: var(--footer-a);
    font-family: Work Sans;
    font-size: 15px;
    transition: 0.2s;
}


.mobile-menu .copyright {
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-left: 0px;
    transition: 1s;
}

.mobile-menu .copyright p {
    font-family: Work Sans;
    font-size: 19px;
    color: var(--footer-copyright-p);
    cursor: help;
    transition: 0.5s;
}

.mobile-menu .copyright p::after {
    content: url('https://api.iconify.design/ph/info-bold.svg?color=gray&height=10');
    display: inline-flex;
    margin-left: 10px;
    scale: 1.7;
    color: var(--footer-copyright-p);
  }

.mobile-menu .copyright a {
    font-family: Work Sans;
    font-size: 19px;
    text-decoration: underline;
    transition: 0.5s;
}

@media screen and (max-width: 705px) {
    .mobile-menu .menu-footer {
        flex-direction: column;
    }
    .mobile-menu .copyright {
        margin-right: auto;
        margin-top: 10px;
    }

    .mobile-menu .copyright a, .mobile-menu .copyright p{
        font-size: 15px;
    }
    .mobile-menu .copyright {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.mobile-menu #site-info {
    position: fixed;
    align-items: center;
    justify-content: center;
    left: 50%;
    width: 100%;
    height: 25px;
    transform: translateX(-50%);
    background-color: var(--footer-site-info-color-bg);
    color: var(--footer-site-info-color);
    padding: 10px;
    font-family: Open Sans;
    font-size: 15px;
    text-align: center;
    position: absolute;
    bottom: 100px;
 }
        
 .mobile-menu .hidden {
    opacity: 0;
    pointer-events: none;
    transition: .3s;
    display: block;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .mobile-menu .show {
    opacity: 1;
    transition: .3s;
    display: block;
    z-index: 1000;
  }


  .mobile-menu .show a{
    font-size: 15px;
    font-family: Open Sans;
    text-decoration: underline;

}

.mobile-menu .show span {
    color: var(--footer-show-span);
}

.mobile-menu .site-info p {
    margin: 30px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 770px){
    .mobile-menu .show a, .mobile-menu .show p{
        font-size: 10px;
    }
}

@media screen and (max-width: 790px) {

    .mobile-menu .copyright a, .mobile-menu .copyright p{
        font-size: 15px;
    }

    .mobile-menu .social-links{
        column-gap: 10px;
    }

    .mobile-menu .social-links i{
        font-size: 18px;
    }

    .mobile-menu .show a, .mobile-menu .show p{
        font-size: 13px;
    }
}

@media screen and (max-width: 700px) {
    .mobile-menu #site-info {
        height: 80px;
    }
}

.menu-butt-container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--header-links-a-color) !important;
  margin: 5px 0;
  transition: 0.4s;
  border-radius: 30px;
}

.change .bar1 {
  transform: translate(0, 7px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -7px) rotate(45deg);
}

 /* popup text */
 .site-details-mobile {
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    transition: 0.2s;
    bottom: 25px;

    background-color: var(--footer-tooltip-footer-bg);
    color: var(--footer-tooltip-footer-color);
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.116);
    text-align: center;
    padding: 5px 0;
    border-radius: 10px;
    font-size: 15px;
    font-family: Work Sans;

    border-width: 1px;
    border: Solid 1px rgba(138, 138, 138, 0.226);
    border-style: solid;
    
    margin: 0 15px 0 15px;
  }

  .site-info-stuff a {
    text-decoration: underline;
    transition: 0.2s;
  }

  .site-info-stuff a:hover {
    opacity: 0.7;
  }

  .site-info-stuff {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .siteinfotext-footer-hide {
    visibility: hidden;
    opacity: 0;
    margin-bottom: 0px;
  }

  .siteinfotext-footer-show {
    visibility: visible;
    opacity: 1;
    margin-bottom: 10px;
}

@media screen and (min-width: 705px) {

    .siteinfotext-footer-show {
        visibility: hidden;
        opacity: 0;
    }

}
