/* Home */

 .home {
    height: 100vh;
    background-size: cover;
    background:var(--home-bg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home a {
    text-decoration: none;
    color: var(--home-a);
    font-size: 25px;
}

.menus {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    gap: 25px;
    align-items:center;
    justify-content:center;
    font-family: Work Sans;
    font-size: large;
    animation: up-down-fall 1s forwards;
}

.close-button {
    display: flex;
    margin-right: 10px;
    margin-left: 20px;
    align-items: center;
    transition: 0.5s;
    cursor:pointer;
}

.color-chooser {
    display: flex;
    margin-left: auto;
    margin-right: 1px;
}

@keyframes up-down-fall {
    0% {transform: translateY(-50px); opacity: 0;}
    100% {transform: translateY(0px); opacity: 1;}
}


/* Footer */

@keyframes down-up {
    0% {transform: translateY(50px); opacity: 0;}
    100% {transform: translateY(0px); opacity: 1;}
}

@keyframes scaley {
    0% {transform:translateY(50px);}
    100% {transform:translateY(0px);}
}

@keyframes up-down {
    0% {transform: translateY(-50px); opacity: 0;}
    100% {transform: translateY(0px); opacity: 1;}
}

.footer {
    background-color: var(--footer-bg);
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    box-shadow: 0px -8px 12px 0px rgba(0, 0, 0, 0.048);
    animation: scaley 1s forwards;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: var(--footer-a);
    font-size: 20px;
}

.social-links {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    column-gap: 15px;
    padding: 10px 0;
    animation: down-up 1s forwards;
}

.social-links i {
    transition: 1s;
}

.social-links i:hover, .email a:hover {
    color: var(--footer-social-links-i-hover);
    transition: 0.2s;
}

.email {
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 5px;
    animation: down-up 0.5s forwards;
}

.email a {
    text-decoration: none;
    color: var(--footer-a);
    font-family: Work Sans;
    font-size: 15px;
    transition: 0.2s;
}


.copyright {
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    animation: up-down 0.7s forwards;
    padding-left: 0px;
    transition: 1s;
}

.copyright p {
    font-family: Work Sans;
    font-size: 19px;
    color: var(--footer-copyright-p);
    cursor: help;
    transition: 0.5s;
}

.copyright a {
    font-family: Work Sans;
    font-size: 19px;
    text-decoration: underline;
    transition: 0.5s;
}

@media screen and (max-width: 700px) {
    .footer {
        flex-direction: column;
    }
    .copyright {
        margin-right: auto;
        margin-top: 10px;
    }

    .copyright a, .copyright p{
        font-size: 15px;
    }
    .copyright {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

#site-info {
    position: fixed;
    align-items: center;
    justify-content: center;
    left: 50%;
    width: 100%;
    height: 25px;
    transform: translateX(-50%);
    background-color: var(--footer-site-info-color-bg);
    color: var(--footer-site-info-color);
    padding: 10px;
    font-family: Open Sans;
    font-size: 15px;
    animation: fadein 0.5s, fadeout 0.5s 5.5s;
    text-align: center;
 }

    @keyframes fadein {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      
      @keyframes fadeout {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      }
            
  
  .hidden {
    display: none;
  }
  
  .show {
    display: block;
  }

.show a{
    font-size: 15px;
    font-family: Open Sans;
    text-decoration: underline;

}

.show span {
    color: var(--footer-show-span);
}

.site-info p {
    margin: 30px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 770px){
    .show a, .show p{
        font-size: 10px;
    }
}

@media screen and (max-width: 790px) {

    .copyright a, .copyright p{
        font-size: 15px;
    }

    .social-links{
        column-gap: 10px;
    }

    .social-links i{
        font-size: 18px;
    }

    .show a, .show p{
        font-size: 13px;
    }
}

@media screen and (max-width: 700px) {
    #site-info {
        height: 80px;
    }
}

/* footer-tooltips */

/* Tooltip container */
.tooltip-footer {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip-footer .tooltiptext-footer {
    visibility: hidden;
    width: 100px;
    bottom: 120%;
    left: 50%;
    margin-left: -40px;
    margin-bottom: 10px;
    background-color: var(--footer-tooltip-footer-bg);
    color: var(--footer-tooltip-footer-color);
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.116);
    text-align: center;
    padding: 5px 0;
    border-radius: 10px;
    font-size: 15px;
    font-family: Work Sans;

    border-width: 1px;
    border: Solid 1px rgba(138, 138, 138, 0.226);
    border-style: solid;
   
    position: absolute;
    z-index: 1;
    
    opacity: 0;
    transition: 0.2s;
  }
  
  .tooltip-footer:hover .tooltiptext-footer {
    visibility: visible;
    opacity: 1;
} 